*
{
    margin:0;
    padding: 0;
}

$primary-color: #333;


#content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.content 
{
    padding: 25px;
    margin: 5px;
   
    border: 1px solid rgba(0,0,0,0.75);
}


.button
{
    width: 100px;
    height: 30px;
    background-color: transparent;
    margin: 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    transition: ease-in-out .4s;


    &:hover 
    {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        transform: translateY(-5px);
    }
    
    
}

.good 
{
    background-color: $primary-color;
}

